/* shared styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;
 */
}
nav{
    width: 71%;
    max-width: 1140px;
     /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:  16px;
    padding-bottom: 16px;
}
/* .nav-container{
    display: flex;
    justify-content: space-between;
} */
nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
.button{
    color: #FFFFFF;
    background-color: #469165;
    padding: 12.5px 16px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 4px;
     /* margin-bottom: 16px; */
    cursor: pointer;
}
/* main styles */
.hero-container{
    text-align: center;
    background-image: url(assets/hero-bg.png);
    max-width: 1600px;
    height: 674px; 
    min-height: 674px;
    height: auto;
}
.single-button1{
    color: #469165;
    background-color: #FFFFFF;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    margin-top: 115.5px;
    margin-bottom: 16px;
    cursor: pointer;
}
#arrow{
    /* padding-top : 19.5px; */
    height: 20px;
    width: 20px;
    /* padding-top: 19.43px; */
}
.hero-container div h1{
    font-size: 72px;
    line-height: 84px;
    font-weight: bold;
    color: #FFFFFF;
}
.hero-container div h1 span{
    color: #469165;
    margin-bottom: 16px;
}
.header-section{
    color: #FFFFFF;
    line-height: 24px;
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 32px;
}
.button-holder{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.single-button2{
background: none;
color: #FFFFFF;
border: 1px solid whitesmoke;
padding: 16.5px;
border-radius: 4px;
cursor: zoom-out;
}
.card-section{
    text-align: center;
    margin: 0 auto;
}
.div1 h2{
    font-size: 48px;
    font-weight: 700;
    margin-top: 116px;
    color: #001931;
    margin-bottom: 16px;
}
.div1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}
.card-container{
    display: flex;
    justify-content:center;
    gap: 24px;
}
.card-box img{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    padding: 15.5px 16.5px;  
    /* border: 1px solid #469165 ; */
    /* background-size: 60px 60px; */
}
.card-box h6{
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.card-box p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    font-weight: 400;
}
/* .image{
    background-color: red;
} */
.card-container .card-box{
    max-width: 322px;
    padding: 70px 24px;
    /* border: 1px solid black; */
    box-shadow: 0 6px 50px 0 #0000000F;
 }
.brain-section{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 120px;
    margin-bottom: 120px;
 }
.brain-section .brain-text{
    margin-top: 102px;
 }
.brain-section .brain-text h6{
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
 }
.brain-section .brain-text h1{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.brain-section .brain-text p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}
.brain-section .brain-text img{
    width: 16.25px;
    height: 16.25px;
    /* margin-bottom: 16px; */
}
.brain-section .brain-text span{
    color: #001931;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px; 
}
.think-section{
    /* text-align: center; */
    /* justify-content: center; */
    /* padding: 2px 120px 120px 120px;  */
    padding-left: 110px; 
    margin-bottom: 120px;
}
.think-clearly{
    text-align: center;
    background-color: #F7F6F2;
    /* max-width: 1360px; */
    width: 91%;
    padding: 80px 40px;
    /* /* max-width: 1140px; */
} 
.think-section .think-clearly h2{
    color: #001931;
    font-size: 40px;
    font-weight: 700;
    /* margin-bottom: 16px; */
}
.think-section .think-clearly p{
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
    margin-top: 16px;
}
footer{
    background-color: #001931;
    /* padding-left: 120px; */
    padding: 120px 120px 30px 120px;
    color: #FFFFFF;
}
footer .footer-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
footer .footer-container .footer-pic{
    height: 60px;
    width: 139px;
}
footer .footer-container .footer-social p{
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}
footer .footer-container .footer-social .icon{
    gap: 16px;
    display: flex;
}
footer .footer-container .footer-social .icon #icon{
    background-color: #FFFFFF;
    color: #001931;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 5px;
}
footer p{
    line-height: 24px;
    margin-top: 30px;
    text-align: center;
}